server/AccTelemetryTracker.Tests/MotecLdx.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LDXFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Videos" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="View"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Layers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Layer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MarkerBlock">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MarkerGroup">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Marker" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="Version" use="optional"/>
                                        <xs:attribute type="xs:string" name="ClassName" use="optional"/>
                                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                                        <xs:attribute type="xs:string" name="Flags" use="optional"/>
                                        <xs:attribute type="xs:float" name="Time" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Name"/>
                              <xs:attribute type="xs:byte" name="Index"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="RangeBlock" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="LayerName" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Details" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="String" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Id" use="optional"/>
                            <xs:attribute type="xs:string" name="Value" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="Locale"/>
      <xs:attribute type="xs:string" name="DefaultLocale"/>
      <xs:attribute type="xs:float" name="Version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>